@model IEnumerable<Meet>

<div class="profile">

    <aside>
        <partial name="_profileSideBar" />
    </aside>
    <div class="profile_left">
        <h1>geçmiş randevular</h1>

        @if (Model.Count() > 0)
        {
            @foreach (var mt in Model)
            {
                <h5>@mt.ad</h5>
                <h5>@mt.soyad</h5>
                <h5>@mt.telefon</h5>
                <h5>@mt.Adres</h5>
                <h5>@mt.Description</h5>
                <h5>@mt.tarih</h5>
                <h5>@mt.active</h5>
            }
        }
    </div>
</div>